package examples

import "github.com/haatos/goshipit/internal/views/components"

// example
templ MultipleAvatarSizes() {
	<div class="flex justify-center items-center space-x-4 pt-4">
		@components.AvatarXXL("/static/images/avatar.jpg")
		@components.AvatarXL("/static/images/avatar.jpg")
		@components.AvatarLG("/static/images/avatar.jpg")
		@components.AvatarSM("/static/images/avatar.jpg")
		@components.AvatarXS("/static/images/avatar.jpg")
	</div>
}
