package examples

import "github.com/haatos/goshipit/internal/views/components"

// example
templ BasicFileInput() {
	@components.FileInput(components.FileInputProps{
		Label: "File upload",
		Name:  "file",
		Class: "input-bordered",
	})
}
