package examples

import "github.com/haatos/goshipit/internal/views/components"

// example
templ BasicSteps() {
	<div class="flex justify-center items-center pt-4">
		@components.Steps() {
			@components.Step(components.StepProps{Label: "Register", Done: true})
			@components.Step(components.StepProps{Label: "Choose plan", Done: true})
			@components.Step(components.StepProps{Label: "Purchase"})
			@components.Step(components.StepProps{Label: "Receive product"})
		}
	</div>
}
