@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";
@source "./internal/views/**/*.templ";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(92% 0 0);
  --color-base-200: oklch(87% 0 0);
  --color-base-300: oklch(70% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(55% 0.135 66.442);
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: oklch(53% 0.157 131.589);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(52% 0.105 223.128);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(50% 0.118 165.612);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(52% 0.223 3.958);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(14% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(79% 0.184 86.047);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(64% 0.2 131.684);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

