// navigation
// https://daisyui.com/components/breadcrumbs
package components

type BreadcrumbsProps []BreadcrumbsProp

type BreadcrumbsProp struct {
	Label string
	Attrs templ.Attributes
}

templ Breadcrumbs(props BreadcrumbsProps) {
	<div class="breadcrumbs text-sm">
		<ul>
			for i, prop := range props {
				<li class="select-none">
					if i < len(props) - 1 {
						<a { prop.Attrs... }>{ prop.Label }</a>
					} else {
						{ prop.Label }
					}
				</li>
			}
		</ul>
	</div>
}
