// actions
// https://daisyui.com/components/dropdown
package components

import "github.com/haatos/goshipit/internal/model"

templ Dropdown(d model.Dropdown) {
	<details class={ "dropdown", d.Class }>
		<summary class="btn m-1">{ d.Label }</summary>
		<ul class={ "menu dropdown-content", d.ListClass }>
			for _, di := range d.Items {
				<li><a { di.Attrs... }>{ di.Label }</a></li>
			}
		</ul>
	</details>
}
