// actions
// https://daisyui.com/components/swap
package components

type SwapProps struct {
	On    templ.Component
	Off   templ.Component
	Class string
}

templ Swap(props SwapProps) {
	<label class={ "swap", props.Class }>
		<input type="checkbox"/>
		<div class="swap-on">
			@props.On
		</div>
		<div class="swap-off">
			@props.Off
		</div>
	</label>
}
