// actions
// https://daisyui.com/components/swap
package components

import "github.com/haatos/goshipit/internal/model"

templ Swap(s model.Swap) {
	<label class={ "swap", s.Class }>
		<input type="checkbox"/>
		<div class="swap-on">
			@s.On
		</div>
		<div class="swap-off">
			@s.Off
		</div>
	</label>
}
