// feedback
// https://daisyui.com/components/tooltip
package components

import "github.com/haatos/goshipit/internal/model"

templ Tooltip(t model.Tooltip) {
	<div class={ "tooltip", t.Class } data-tip={ t.Tip }>
		{ children... }
	</div>
}
